/* reset css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
1. vị trí
2. kích thước
3. màu sắc 
4.kiểu dáng(Kiểu chữ, hình tròn, vuông,...)
*/
/* common css */
html {
    font-family: Arial, Helvetica, sans-serif;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.clear {
    clear: both;
    /*khắc phục tình trạng khi dùng float thì các thẻ con không ôm vào thẻ cha -> làm cho nó thành 1 khối thống nhất */
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.3333%;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 11px 18px;
    display: inline-block;
    /*dùng để căn điều khi dùng padding thì chữ bị che khuất*/
    margin-top: 15px;
    border: none;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.pull-right {
    float: right !important;
}

.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.text-center{
    text-align: center !important;
}
/*main*/
#main {
    height: 1000px;
}

.text-white {
    color: #fff !important;
    /*dùng để tô chữ màu trắng cho các chỗ cần dùng !important mạnh nhất được ưu tiên nhất*/
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;

}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav>li:hover .subnav {
    display: block;
}

#nav>li:hover>a {
    background-color: #ccc;
    color: #000;
    display: inline-block;
}

#nav .subnav {
    display: none;
    position: absolute;
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
    cursor: pointer;


}

#nav .subnav li:hover {
    background-color: #ccc;
    color: #000;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;

}

#header .search-btn:hover {
    background-color: red;
    color: #fff;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    padding: 0 21px;
}

#slider {
    margin-top: 46px;
    /*đẩy slider xuống khỏi header*/
    padding-top: 50%;
    /* 50% chiều ngang của chính nó -> để không bị méo ảnh khi phóng to thu nhỏ trang web*/
    background: url('./img/slider/slider1.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .textcontent {
    position: absolute;
    /* left: 50%;
    transform: translateX(-50%);  */
    /*Căn giữa*/
    /* width: 100%; */
    right: 0;
    left: 0;
    text-align: center;
    color: #fff;
    bottom: 47px;

}

#slider .textheading {
    font-weight: 500;
    font-size: 24px;

}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content {}

#content .content-section {
    width: 800px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}


#content .section-heading {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    /* làm chữ cách xa ra*/
}


#content .section-sub-heading {
    font-style: italic;
    opacity: 0.6;
    /*độ trong suốt*/
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
}

#content .about-text {
    text-align: justify;
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.4;
}

#content .member-list {
    padding-top: 48px;

}

#content .member-name {
    font-size: 15px;
    margin-bottom: 15px;
}


#content .member-avt {
    width: 154px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

/*Tour-section*/
.tour-section {
    background-color: #000;
}

.ticker-list {
    background-color: #fff;
    margin-top: 40px;
}

.ticker-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: #ccc solid 1px;
    list-style-type: none;
}

.ticker-list .sould-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticker-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/*Place*/
.place-list {
    margin-top: 32px;
   
}



.place-list .image-item {
    width: 100%;
    display: block;
}

.place-list .image-item:hover {
    opacity: 0.6;
}

.place-list .place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-list .place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-list .place-time {
    margin-top: 15px;
    color: #757575;
}

.place-list .place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.place-list .place-by-btn {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 11px 18px;
    display: inline-block;
    /*dùng để căn điều khi dùng padding thì chữ bị che khuất*/
    margin-top: 15px;
}

.place-list .place-by-btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.clear {
    clear: both;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;

}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    /*dùng để tương thích với tỉ lệ màn hình khác khi co lại*/
    animation: modalFaceIn ease .5s;
}

.modal-close {
    position: absolute;
    right: 0;
    padding: 12px;
    color: #fff;

}

.modal-close:hover {
    background-color: #757575;
    color: #000;
    cursor: pointer;
    opacity: 0.8;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;

}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    /*dùng để làm cho label xuống dòng, mặc định nó là inline*/
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    padding: 10px;
    width: 100%;
    border: #ccc solid 1px;
    font-size: 15px;
    margin-bottom: 20px;
}

#buy-tickets {
    background-color: #009688;
    padding: 18px;
    width: 100%;
    border: #009688;
    color: #fff;
}

#buy-tickets:hover {
    background-color: #757575;
    color: #000;
    cursor: pointer;
    opacity: 0.8;
}

.modal-footer {
    text-align: right;
    padding: 16px;
}

.modal-footer .modal-help a {
    color: #2196F3
}

/*contact form*/
.contact-content{
    margin-top:48px ;
}
.contact-info{
    font-size: 18px;
    line-height: 1.8;
}
.contact-info i[class*="ti-"] {
    width: 40px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img{
    width: 100%;
}

/*footer section */
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list a{
    text-decoration: none;
    color: #000;
    opacity: 0.6;
    font-size: 24px;

}
#footer .socials-list a:hover,
#footer .copyright a:hover {
    cursor: pointer;
    color: #000;
    opacity: 0.3;
}
#footer .copyright {
    margin-top: 15px;
    color: #000;
    opacity: 0.6;
}

#footer .copyright a {
    color: #000;
    opacity: 0.6;
}

@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
  
}